node_modules/
**/node_modules/

.env
.env.*
!.env.example

dist/
dist-ssr/
build/
**/dist/
**/build/

.vite/
**/.vite/

logs/
*.log

.vscode/
.idea/

.DS_Store
Thumbs.db
desktop.ini

coverage/
.nyc_output/